/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  color:#fff
}
div#viewport{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  text-align:center;-filter:grayscale()
  
}
.red{background:#601719}
.green{background:#134e13}
.blue{background:#556483}
.res{padding:.6em 1.4em;color:#fff}
.res:hover{border-top:4px solid black;border-top-left-radius:5px;border-top-right-radius:5px}